.art-piece-details__section {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  gap: 35px;
  align-items: center;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button__section {
  display: flex;
  justify-content: center;
}

h3 {
  font-weight: bolder;
}

button {
  text-align: center;
}
