nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px;
}

.nav__btn {
  padding: 1rem;
  background-color: transparent;
  /* border-radius: 20px; */
  border: none;
  font-weight: bold;
  font-size: 0.8rem;
  transition: linear 0.3s;
  border-bottom: 1px solid grey;
}

.nav__btn:hover {
  border-bottom: 1px solid lightsteelblue;
  font-size: 0.83rem;
}
